- @title = " | Partners"
- @subtitle = ""
- @body_class = "none"

- @sub1= ["Marketing & Web Design", "design"]
- @sub2= ["Lawyers", "law"]
- @sub3= ["CPAs", "cpa"]
- @sub4= ["Financial Advisors", "financial"]
- @sub5= ["Commercial Contractors", "contractors"]
- @sub6= ["Technical Writers", "writers"]
- @sub7= ["More...", "more"]


%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#none.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-1.jpg"}



.body
  .center
    .content
      #none.main
        .content
          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p 
              %b Media3Creative
              = " | "
              %a{:href => "http://www.media3creative.com", :target => "_blank"} Website
              %br
              M3C is a revolutionary marketing system the includes all the high-end design services, printed materials, and web design from a top marketing agency at a very affordable price. M3C is structured in a unique way that allows for strategies and concepts never before seen in the marketing industry.
            %p 
              %b Server Side Design
              = " | "
              %a{:href => "http://www.serversidedesign.com", :target => "_blank"} Website
              %br
              Server Side Design, Inc. is an award winning, recognized leader in the world of Internet Marketing. Server Side Design has been honored with the prestigious and coveted award for being a Top 10 SEO company for 4 years in a row! Based in Houston, TX, ServerSideDesign.com offers full service search engine optimization, pay per click advertising, social media marketing and local maps optimization to companies all over the globe.
            
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p 
              %b Attorney Michael S. Burg
              = " | "
              %a{:href => "http://www.lawyerscenter.com/msburg-law", :target => "_blank"} Website
              %br
              Attorney Michael S. Burg practices in the area of business law and franchise law. 
            %p 
              %b Law Office of Wilka Varela Toppins, P.C.
              = " | "
              %a{:href => "http://www.toppinslawfirm.com", :target => "_blank"} Website
              %br
              The Law Office of Wilka Varela Toppins, P.C., provides effective legal counsel in a wide range of commercial transactions and business disputes. We serve entrepreneurs, multi-national corporations, and other business clients in the following practice areas: Corporate Transactions, Commercial Litigation, Construction and Real Estate Law, Labor and Employment Law and International Business Transactions.


          / %a{:name => @sub3[1]}
          / .section.no-image
          /   %h1=@sub3[0]
          / 
          %a{:name => @sub4[1]}
          .section.no-image
            %h1=@sub4[0]
            %p 
              %b Adriana Valencia
              = " | "
              %a{:href => "http://www.invpro.com", :target => "_blank"} Website
              %br
              Adriana Valencia seeks to bring investment, insurance and education, retirement, estate and tax planning strategies into one financial plan to maximize efficiencies and minimize gaps that can leave clients under-prepared and under-protected. In roles of both analyst and coach, we recommend tailored, practical solutions, explain complex issues and guide clients through implementation. 
            %p.page-top
              %a{:href => "#"+@sub1[1]} Top ^
              
              
          %a{:name => @sub5[1]}
          .section.no-image
            %h1=@sub5[0]
            %p 
              %b FAS Contracting
              = " | "
              %a{:href => "http://www.fascontracting.com", :target => "_blank"} Website
              %br
              We service a wide-range of construction fields, from preservation and renovation to new commercial and residential construction. We also offer our customers the artistic renaissance of Venetian plaster. We offer an array of faux finishes and decorative painting techniques, designed to meet the standards and demands of today's interior designers. We work closely with architects and designers on every project to deliver a high quality job that is completed right and up to code. We offer free estimates on all aspects of construction. 
            %p.page-top
              %a{:href => "#"+@sub1[1]} Top ^

          / %a{:name => @sub6[1]}
          / .section.no-image
          /   %h1=@sub6[0]
          / 
          / %a{:name => @sub7[1]}
          / .section.no-image
          /   %h1=@sub7[0]

              
      #none.sidebar
        .subnav
          %h1 Partners
          .link
            %h5 
            %p
              %a{:href => "#"+@sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub2[1]}
                =@sub2[0]
          / .link
          /   %h5 
          /   %p
          /     %a{:href => "#"+@sub3[1]}
          /       =@sub3[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub4[1]}
                =@sub4[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@sub5[1]}
                =@sub5[0]
          / .link
          /   %h5 
          /   %p
          /     %a{:href => "#"+@sub6[1]}
          /       =@sub6[0]
          / .link
          /   %h5 
          /   %p
          /     %a{:href => "#"+@sub7[1]}
          /       =@sub7[0]

        .text
          %h1 Contact Us
          %p 
            Franchise Resource Group
            = " | "
            %a{:href => "http://maps.google.com/maps?q=7910+Westglen+Dr.+Suite+101+Houston,+TX+77009&hl=en&sll=37.0625,-95.677068&sspn=76.273886,88.59375&z=17", :target => "_blank"} MAP
            %br
            7910 Westglen Dr.
            %br
            Suite 101
            %br
            Houston, TX 77063
            %br
            %br
            1-877-402-6101
            %br
            %a{:href => "mailto:info@franchiseresourcegroup.com"} info@franchiseresourcegroup.com
          %h3 WE ARE HERE TO HELP YOU ACHIEVE YOUR BUSINESS GOALS!

